* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main {
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    background-color:cadetblue;
    border-radius: 16px;
}

input {
    width: 100%;
    height: 32px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 8px;
}

#button {
    color: white;
    background-color: green;
}

#button:hover {
    color: white;
    background-color: rgba(0, 128, 0, 0.596);
    cursor: pointer;
}